h1, h2, h3, h4, p {
    margin-top: 0px;
  }
  
  h1:last-child,
  h2:last-child,
  h3:last-child,
  h4:last-child,
  p:last-child {
    margin-bottom: 0px;
  }

  img {
    display: block;
   }
   .list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    }