.team {
    background-color: #F5F4FA;}
  
  .team__title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
     }
  
     .team__list {
      display: flex;
      align-items: center;
    }
  
    .team__item {
      margin-right: 30px; 
      background-color: var(--header-bg-color);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;

      &:last-child {
        margin-right: 0px;}
    }
    
      
    .team__text {
      padding-top: 30px;
      padding-bottom: 30px;
      }
  
  
  .team__name {
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    }
  
  
  
  .team__position {
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
         }
  
  
   /*social-link*/
   .socials {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 16px;
    }
  
  .socials__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0px;
    }
  }

  
  .socials__link {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: background-color var(--animation);

    &:hover,
    &:focus{
      background-color: #2196F3;
      }
  }

  
    .socials__icon {
      fill: #AFB1B8;
      transition: fill var(--animation);

      .socials__link:hover &,
      .socials__link:focus &{
      fill: var(--header-bg-color);
      }
    }
  
  