.footer__logo {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  @media screen and (max-width: 1199px) {
     display: flex;
     justify-content: center;
     align-items: center;
  }
}

    
  .logo__text--white {
      color: var(--header-bg-color);
      }