.footer {
    background-color: var(--secondary-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    }
    .footer__container {
      @media screen and (min-width: 1200px) {
          display: flex;
          align-items: baseline;
      }
     
  }
  .footer-box {
    @media screen and(min-width:768px) {
        display: flex;
        margin-bottom: 60px;
      }
      @media screen and(min-width:768px) and(max-width:1199px) {
        justify-content: center;
      }
    }