.header {
  border-bottom: 1px solid #ECECEC;
  background-color: var(--header-bg-color);
  }


.header__container {
  display: flex;
  align-items: center;
  

  @media screen and (max-width: 767px)
  {position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;}

    @media screen and (min-width: 768px)
    {padding-top: 21px;
      padding-bottom: 21px;}
 
}



.header__nav {
    display: flex;
    align-items: center;
    }
    