.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    
    opacity: 1;
    transition: opacity var(--animation),
    transform var(--animation);
    }
    
    .backdrop.is-hidden {
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
    }