:root {
    /* main fonts*/
      --main-font: 'Roboto', sans-serif;
      --secondary-font: 'Raleway', sans-serif;
      /* text colors*/
      --black-logo-color: #000000;
      --main-text-color: #757575;
      --title-color: #212121;
      --akcent-color: #2196F3;
      --white-text-color: #ffffff; 
      /* background-colors*/
      --main-bg-color: #e5e5e5;
      --secondary-bg-color: #2f303a;
      --header-bg-color: #FFFFFF;
    /* animation*/
      --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }